[Unit]
Description=Gunicorn socket for DocsAI Django application
Before=gunicorn.service

[Socket]
ListenStream=/run/gunicorn.sock
# SocketMode=0660 allows ubuntu user and www-data group (Nginx) to access
SocketMode=0660
SocketUser=ubuntu
SocketGroup=www-data

[Install]
WantedBy=sockets.target
