{% comment %} Usage: {% include "components/modal.html" with modal_id="myModal"
title="My Modal" size="" %} Wrap body with {% block modal_UNIQUEID %}{% endblock
%} or use directly. {% endcomment %}
<div
  class="modal-overlay"
  id="{{ modal_id }}"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ modal_id }}-title"
>
  <div class="modal-card {% if size %}modal-{{ size }}{% endif %}">
    <div class="modal-header">
      <h2 class="modal-title" id="{{ modal_id }}-title">{{ title }}</h2>
      <button
        type="button"
        class="modal-close"
        data-modal-close="{{ modal_id }}"
        aria-label="Close"
      >
        &times;
      </button>
    </div>
    <div class="modal-body">{{ modal_body }}</div>
    {% if modal_footer %}
    <div class="modal-footer">{{ modal_footer }}</div>
    {% endif %}
  </div>
</div>
