{% comment %}
Modal Component Template

This is a placeholder template. The modal is created dynamically via JavaScript.
Use the Modal class in JavaScript to create modals.

Example usage:
<script>
const modal = new Modal({
    title: 'Confirm Action',
    content: '<p>Are you sure you want to proceed?</p>',
    onConfirm: () => {
        console.log('Confirmed');
        modal.close();
    }
});
modal.open();
</script>
{% endcomment %}

{# Modal will be created dynamically by JavaScript #}
{# This template is for documentation purposes only #}
